.grid-container-box {
  display: grid;
  border-radius: 1.05rem;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.5);
  margin: 1.10rem 8px;
  margin-top: 0.25rem;
  max-width: 100%;
  position: relative;
}


.item1 {
  grid-column: 1 / span 4;
  grid-row: 1;
}

.item2 {
  grid-column: 1 / span 4;
  grid-row: 2;
  display: flex;
  min-width: 100%;
}

.item3 {
  width: 100%;
  grid-column: 1  / span 4;
  grid-row: 3;
  
}

.item4 {
  width: 100%;
  grid-column: 4;
  grid-row: 1;
  min-width:0;
}


button{
  width: 80%;
  padding: 150% auto ;
  margin: 0.25rem auto;
  margin-bottom: 0;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-width: 0;
}

.button-update{
  margin-top: 0.75rem;
  border-bottom-left-radius: 1.05rem;
  border-bottom-right-radius: 1.05rem;
  background-color: rgb(92, 23, 132);
}

.button-update:hover{
  background-color: rgb(193, 136, 226);
}

.button-del{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0.75rem;
  color: rgb(255, 255, 255);
  background-color: brown;
  font-size: 1.05rem;
  margin: 0.25rem 0.25rem;
  width: 20%;
  padding: 0.2rem;
  
}

a{
  color: black;
}

.text{
  margin:0.5rem 0.25rem;
  margin-left: 0.55rem;
  font-size: 1.15rem;
  font-weight: bold;
}


input{
  margin:0.25rem  0.6rem;
  margin-left: 0.55rem;
  box-sizing:content-box;
  font-size: 1.25rem;
  min-width:0;
  overflow: hidden;
}

select{
  margin:0.25rem  auto;
  margin-left: 0.55rem;
  min-width:90%;
  font-size: 1.25rem;
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.item1-u {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2-u {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.item3-u {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.item4-u {
  grid-column: 1 / span 3;
  grid-row: 4;
}

.item5-u {
  grid-column: 1 / span 2;
  grid-row: 5;
}

.item6-u {
  grid-column: 1 / span 3;
  grid-row: 6;
}

.item7-u {
  width: 100%;
  grid-column: 1  / span 4;
  grid-row: 7;
}

