.grid-container-box {
  display: grid;
  border-radius: 1.05rem;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.5);
  margin: 1.1rem 8px;
  margin-top: 0.25rem;
  max-width: 100%;
  position: relative;
}

.grid-is-old {
  background-color: rgb(255, 219, 219);
}

.item1 {
  grid-column: 1 / span 4;
  grid-row: 1;
}

.item2 {
  grid-column: 1 / span 4;
  grid-row: 2;
  display: flex;
  min-width: 100%;
}

.item3 {
  width: 100%;
  grid-column: 4 / span 4;
  grid-row: 3 / span 2;
}

.item4 {
  width: 100%;
  grid-column: 1 / span 4;
  grid-row: 5;
}

.box-down {
  display: flex;
  flex-direction: column;
}

button {
  width: 80%;
  padding: 150% auto;
  margin: 0.25rem auto;
  margin-bottom: 0;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-width: 0;
}

.button-update {
  margin-top: 0.75rem;
  border-bottom-left-radius: 1.05rem;
  border-bottom-right-radius: 1.05rem;
  background-color: rgb(92, 23, 132);
}

.button-update:hover {
  background-color: rgb(193, 136, 226);
}

.button-down {
  color: white;
  font-size: 1.25rem;
  background-color: rgb(22, 120, 34);
  border-color: rgb(255, 255, 255);
  border-style: dotted;
  border-radius: 0.5rem;
  padding: 0 0.75rem;
  margin: 0.5rem 0.25rem;
  margin-left: 0.55rem;
}

.button-down:hover {
  background-color: rgb(123, 193, 129);
}

.button-del {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0.75rem;
  color: rgb(255, 255, 255);
  background-color: brown;
  font-size: 1.05rem;
  margin: 0.25rem 0.25rem;
  width: 20%;
  padding: 0.2rem;
}

button[disabled='disabled'],
button:disabled {
  background-color: grey;
}

.button-del:hover {
  background-color: rgb(226, 136, 136);
}

.text {
  margin: 0.35rem 0.25rem;
  margin-left: 0.55rem;
  font-size: 1.15rem;
  font-weight: bold;
}

input {
  margin: 0.25rem 0.6rem;
  margin-left: 0.55rem;
  box-sizing: content-box;
  font-size: 1.2rem;
  min-width: 0;
  overflow: hidden;
}

select {
  margin: 0.25rem auto;
  margin-left: 0.55rem;
  box-sizing: content-box;
  min-width: 90%;
  font-size: 1.25rem;
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

textarea {
  margin: 0.25rem 0.6rem;
  margin-left: 0.55rem;
  box-sizing: content-box;
  font-size: 1.1rem;
  font-weight: normal;
  min-width: 0;
  overflow: hidden;
}

.item1-u {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2-u {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.item3-u {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.item4-u {
  grid-column: 1 / span 3;
  grid-row: 4;
}

.item5-u {
  grid-column: 1 / span 2;
  grid-row: 5;
}

.item6-u {
  grid-column: 1 / span 3;
  grid-row: 6;
}

.item7-u {
  grid-column: 1 / span 3;
  grid-row: 7;
}

.item8-u {
  grid-column: 1 / span 3;
  grid-row: 8;
}

.item9-u {
  grid-column: 1 / span 3;
  grid-row: 9;
}

.item10-u {
  grid-column: 1 / span 3;
  grid-row: 10;
}

.item0-u {
  width: 100%;
  grid-column: 1 / span 4;
  grid-row: 11;
}
