.container {
  width: 75vw;
  min-width: 800px;
  height: auto;
  margin: 1.25rem auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: grid;
  border-style: solid;
  border-radius: 1px;
  border-radius: 1.5rem;
}
